<%= form_for(@celulare) do |f| %>
  <% if @celulare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@celulare.errors.count, "error") %> prohibited this celulare from being saved:</h2>

      <ul>
      <% @celulare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :invoke %><br>
    <%= f.text_field :invoke %>
  </div>
  <div class="field">
    <%= f.label :active_record %><br>
    <%= f.text_field :active_record %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
