<p id="notice"><%= notice %></p>

<h1>Listing Celulares</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th>Invoke</th>
      <th>Active record</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @celulares.each do |celulare| %>
      <tr>
        <td><%= celulare.title %></td>
        <td><%= celulare.location %></td>
        <td><%= celulare.description %></td>
        <td><%= celulare.invoke %></td>
        <td><%= celulare.active_record %></td>
        <td><%= link_to 'Show', celulare %></td>
        <td><%= link_to 'Edit', edit_celulare_path(celulare) %></td>
        <td><%= link_to 'Destroy', celulare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Celulare', new_celulare_path %>
