<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @celulares.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @celulares.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @celulares.description %>
</p>

<p>
  <strong>Invoke:</strong>
  <%= @celulares.invoke %>
</p>

<p>
  <strong>Active record:</strong>
  <%= @celulares.active_record %>
</p>

<%= link_to 'Edit', edit_celulare_path(@celulares) %> |
<%= link_to 'Back', celulares_path %>
