<h1>Cadastro</h1>
<%= form_for @user do |f| %>
<p>
<%= f.label :nome %> <br />
<%= f.text_field :nome %>
</p>
<p>
<%= f.label :local%> <br />
<%= f.text_field :local %>
</p>
<p>
<%= f.label :email %> <br />
<%= f.text_field :email %>
</p>
<p>
<%= f.label :senha %> <br />
<%= f.password_field :senha %>
</p>
<p>
<%= f.label :senha_confirmation %> <br />
<%= f.password_field senha_confirmation %>
</p>
<p>
<%= f.label :bio %> <br />
<%= f.text_area :bio %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
